@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body { 
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

.hero-bg {
    background: url('../images/hero_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 2em;
    color: white;
    text-align: left;
} 

header{
    padding: 2em;
}

header .logo{
    float: left;
    color: #494949;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

header nav {
    float:right;
    margin-right:1em;
    position: relative;
}

header button{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    cursor: pointer; 
}

header ul{
    background-color: rgba(0, 0, 0, 0.589);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    list-style: none;
    position: absolute;
    right: 5%;
    z-index: 1;
    border-radius: 0.5em;
    padding-inline-start: 0;
    min-width: 10em;
    display: none;
}

header li{
    padding:1.5em;
    text-align: center;
}

header li:hover{
    background-color: rgba(0, 0, 0, 0.829);
    border-radius: 0.5em;
}

header a{
    color: white;
    font-weight: normal;
    text-decoration: none;
    font-size: 1.1em;
}


section.top{
    position: relative;
    padding: 2em;
    margin: 5em 0;
}

section::before{
    content: "";
    position: absolute;
    width: 250px;
    height: 6px;
    background: linear-gradient(90deg, rgba(255, 55, 197, 0.8) 0%, rgba(255, 55, 197, 0) 106.23%);
    top: -1em; 
    left:0;
    animation: fadeIn 1s forwards;
}

section::after{
    content: "";
    position: absolute;
    width: 250px;
    height: 6px;
    background: linear-gradient(-90deg, rgba(255, 55, 197, 0.8) 0%, rgba(255, 55, 197, 0) 106.23%);
    bottom: -1em; 
    right: 0;
    animation: fadeIn 1s forwards;
}

.top h1{
    font-size: 4rem;
    font-weight: bold;
    animation: fadeIn 1s forwards;
}

.top h1 span{
    display: block;
}

.top p{
    font-weight: normal;
    animation: fadeIn 1s forwards;
}


input[type=button]{
    background-color: white;
    color: #ff37c5;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius:  2em;;
    border: none;
    cursor: pointer; 
    animation: fadeIn 1s forwards;
}

input[type=button]:hover{
    background-color: rgba(255, 255, 255, 0.603);
}


.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 2;
    place-content: center;
    color: white;
    font-size: 3rem;
    display: none;
    opacity: 0;
}

.animate-overlay{
    animation: overlay 3s forwards;
}

@keyframes fadeIn {
    from{
        opacity:0;
        transform: translateY(-2em);

    }
    to{
        opacity:1;
        transform: translateY(0);

    }

}

@keyframes overlay{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}